@using Optimum.CafePos.Models
@model IEnumerable<ItemHead>
@{
    ViewData["Title"] = "Item List Page";
}



<nav class="navbar navbar-expand-lg p-3 navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex ">
                @{
                    int count = 0;
                }
                @foreach (var item in Model)
                {
                    if (count < 5)
                    {
                        <li class="nav-item" style="font-size: small; text-align: center;">
                            <a class="nav-link custom-hover-link" aria-current="page" href="#">@item.dishHeadName</a>
                        </li>
                        count++;
                    }


                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @for (int i = 5; i < (Model.Count()); i++)
                        {
                            <li class="nav-item" style="font-size: small; text-align: center;">
                                <a class="dropdown-item" href="#">@Model.ElementAt(i).dishHeadName</a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav navbar-nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    @foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <a class="nav-link custom-hover-link" aria-current="page" href="#">
                                <img class="img-thumbnail img-fluid" src=@item.imgName alt="Icon" /> @item.dishHeadName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <h3>Left Sidebar with Submenus</h3>
            <p class="lead">
                An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only
                a single
                menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in
                width on smaller screens.
            </p>
            <ul class="list-unstyled">
                <li>
                    <h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile
                </li>
            </ul>
        </div>
    </div>
</div>
