<nav class="bg-light border-bottom px-4 py-2 d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <a href="/">Your Logo</a>
    <!-- Location -->
    <div class="location">
        <div class="vertical-line"></div>
        <h5>Delivery in 9 minutes</h5>
        <p>Kolkata,West Bengal,India <i class="fa-solid fa-caret-down"></i></p>
    </div>

    <div class="search-div">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" class="search-input" placeholder="'Search bread'">
        <!-- Login -->
        <!-- Login Button -->
        <button class="btn btn-lg">Login</button>
        <button class="btn btn-lg btn-success my-cart rounded-4 px=3 py=3"><i class="fa-solid fa-cart-shopping"></i>My cart</button>
    </div>

</nav>


