<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="#">Your Logo</a>
        <!-- Location -->
        <a class="nav-link dropdown-toggle" href="#" id="locationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Location
        </a>
        <div class="dropdown-menu" aria-labelledby="locationDropdown">
            <a class="dropdown-item" href="#">Soharam</a>
        </div>
        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Search Bar -->
                <li class="nav-item ms-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                </li>
                <!-- Login -->
                <!-- Login Button -->
                <li class="nav-item ms-2">
                    <button class="btn btn-primary" type="button">Login</button>
                </li>
                <!-- My Cart -->
                <li class="nav-item ms-2">
                    <button class="btn btn-success"><i class="fa fa-shopping-cart"></i> My Cart</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


