@using Optimum.CafePos.Models
@model IEnumerable<ItemHead>
@{
    ViewData["Title"] = "Home Page";
}
<!--Categories Section Begin-->

<section id="categories-1" class="d-flex  justify-content-center vw-100">
    <div class="my categories w=100 d-flex flex-wrap justify-content-between">
        @foreach (var item in Model)
        {
            <img src=@item.imgName width="128" height="188.23529411764704" loading="lazy" style="border-radius: 0px; object-fit: fill; cursor: default;">

        }
    </div>
</section>




<!--Categories Section End -->
